mixin product-alt(item)
  a(href= productLink).product.product_alt
    .product__body(class= item.addBodyClass)
      .product__title.product__title_center= item.title
      .product__img.product__img_center(class= productImgAddClass)
        img(src= item.img, alt= item.title)
      if item.price
        .product__price.product__price_alt= item.price
    if item.characteristics
      .product__characteristics.product__characteristics_alt
        for characteristic in item.characteristics
          .product__characteristic.product__characteristic_alt
            .product__characteristic-amount= characteristic.amount
            .product__characteristic-name= characteristic.text
    if item.descrText
      p.product__descr-text= item.descrText
