mixin product-preview(item, index)
  .product-preview
    .product-preview__col
      if index === 0
        .product-preview__top Наименование
      .product-preview__bottom
        .product-preview__mobile-container
          .product-preview__mobile-col
            .product-preview__img
              img(src= item.img, alt= item.title)
              if item.badge
                .product-preview__badges
                  .product-preview__badge.badge.badge_alt(class = "badge_" + item.badge)= item.badgeText
          .product-preview__mobile-col
            .product-preview__amount.product-preview__amount_mobile 1 кг / 6 шт.
            .product-preview__price.product-preview__price_mobile
              if item.discount 
                .product-preview__discount= item.discount
              .product-preview__price-num= item.price
            a(href= productLink).product-preview__link.product-preview__link_mobile Подробнее
        .product-preview__info
          .product-preview__container
            h2.product-preview__title(class= !item.descrText ? "product-preview__title_margin-bottom" : "")!= item.title
            .product-preview__descr= item.descrText
            a(href= productLink).product-preview__link.product-preview__link_desktop Подробнее
    .product-preview__col
      if index === 0
        .product-preview__top Вес упаковки /<br />Количество в коробке
      .product-preview__bottom
        .product-preview__amount 1 кг / 6 шт.
    .product-preview__col
      if index === 0
        .product-preview__top Цена одной упаковки /<br />Цена коробки
      .product-preview__bottom
        .product-preview__price
          if item.discount 
            .product-preview__discount= item.discount
          .product-preview__price-num= item.price
    .product-preview__col
      if index === 0
        .product-preview__top Кол-во коробок
      .product-preview__bottom
        .product-preview__counter
          .counter
            button.counter__btn.counter__btn_dicrease –
            input(type="number", value = "1").counter__input
            button.counter__btn.counter__btn_increase + 
    .product-preview__col
      if index === 0
        .product-preview__top
      .product-preview__bottom
        .product-preview__action
          button.product-preview__btn В корзину
    
    
    
    
